$primary: #61aff8;
$secondary: #eb7b4c;
$white: #fff;
$black: #12275c;

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    header, form, footer {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    header {
        background-color: $primary;
        color: $black;
        background-image: url('../../assets/shipbg.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 35vh;
        background-position: right 80%;

        
        .step {
            line-height: 200%;
            
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                font-weight: bold;
            }

            i {
                margin-right: 1em;
            }

            &.active {
                color: $secondary;
                font-weight: bold;
            }

            &.picked {
                color: $primary;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        height: 20vh;

        align-items: flex-end;
        margin-bottom: 75px;

        position: relative;

        transition: all .3s ease;

        z-index: 9999;

        span, button {
            width: 100%;
            transition: all .3s ease;

            b {
                margin-left: .5em;
                line-height: 200%;
                font-size: 1.2em;
            }
        }

        button {
            color: $white;
            background-color: $secondary;
            font-weight: 600;
            text-align: center;
            padding: .4em 0;
            border-radius: 2em;
            border: none;
            box-sizing: border-box;
            height: 55%;
        }

        &.active {
            flex-direction: column;
            align-items: center;

            span {
                text-align: center;
                margin-bottom: 1em;
                line-height: 150%;
            }
        }
    }


    form {
        padding: 0;
        height: 100%;
        position: relative;
        section {
            padding: 0 20px;
            height: 0;
            overflow-y: scroll;

            transition: all .3s ease;
            &.active {
                height: 100%;
            }

            &#dateTimeSection{
                background-color: $primary;
            }
        }

        #infoSection {
            h1 {
                color: $black;
            }
        }
    }

}


#crewSection {
    position: relative;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;

    .pagination {
        justify-content: center;

        position: absolute;
        bottom: 10px;
        width: calc(100% - 40px);
        box-sizing: border-box;

        i {
            font-size: 1.4em;

            &.current {
                color: $secondary
            }

            &.page {
                margin: 5px;
            }

            &.arrow {
                margin: 5px 15px;
                cursor: pointer;
                transition: all .3s ease;
                color: $primary
            }
        }


    }

    .extraPage {
        position: absolute;
        width: calc(100% - 40px);
        padding: 0 20px;
        box-sizing: border-box;

        transition: all .3s ease;

        &.before {
            transform: translateX(-100%);
        }
        &.visible {
            transform: translateX(0);
        }
        &.after {
            transform: translateX(100%);
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;

    
}
.counter {
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
    h3 {
        width: 100%;
        text-align: center;
        font-size: .8em;
    }
        p {
            text-align: center;
        }
        i {
            cursor: pointer;
            transition: all .3s ease;
            color: $black;

            margin: 1em;

            &:hover {
                color: $primary;
            }
        }
    }